body {
    font-family: Sans-serif;
    background-color: #423c3c;
    font-weight: lighter;
}

.main_content {
    width: 80%;
    background-color: #f6f6f6;
    min-height: 15em;
    margin: 0 auto;
    max-width: 1000px;
}

.main_content .title {
    font-size: 1.2em;
    background-color: #ea6153;
    padding: 5px 10px;
    color: #fff;
}

.main_content .add_entry {
    padding: 5px 10px;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.main_content .add_entry input {
    background-color: #efefef;
    border: none;
    font-size: 0.9em;
    font-weight: lighter;
    height: 1.3em;
}

.main_content .add_entry button {
    background-color: #27ae60;
    border: none;
    font-size: 0.9em;
    font-weight: lighter;
    color: #fff;
}

.main_content .list .empty_list {
    text-align: center;
    margin-top: 10%;
    font-style: italic;
}

.main_content .list .row {
    padding: 5px;
    font-size: 0.9em;
}

.main_content .list .row:nth-child(odd) {
    background-color: #e9e9e9;
}

.main_content .list .row:nth-child(even) {
    /*background-color: #adabab;*/
}
